body {
	font-size: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 25.5px;
	background-color: rgb(249, 249, 249);
}

.clear-both {
	clear: both;
}

.page {
	width: 88%;
	max-width: 998px;
	margin: 20px auto;
}

main {
	width: 90%;
	padding-bottom: 50px;
}

.date {
	float: right;
}
article {
	width: 80%;
	margin: 20px auto;
}
.article-title {
	text-align: center;
}
