body {
	margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	color: rgb(5, 5, 5);
	line-height: 1.5;
	background-color: rgb(245, 245, 245);
}
.head {
	font-size: 40px;
	line-height: 2;
	text-align: center;
	border-bottom: 2px solid rgb(198, 198, 198);
}
.head a {
	text-align: center;
	border-bottom: none;
}
a, a:hover, a:visited {
	text-decoration: none;
	border-bottom: 1px dashed silver;
	color: rgb(15, 15, 15);
}
main {
	width: 90%;
	max-width: 800px;
	margin: 50px auto;
}
article {
	margin: 40px auto;
	width: 90%;
}

pre {
	padding: 0px 24px;
	border-left: 6px #ccc solid;
	white-space: pre-wrap;
}
code {
	font-family: Consolas, Monaco, Andale Mono, monospace;
	line-height: 1.5;
	font-size: 15px;
}
